@import "./normalize.css";

:root {
  --color-text: #FBD045;
  --color-text-light: #1cdecd;
  --color-text-hover: #D6A848;
  --color-text-secondary: #9DC0C4;
  --color-background: #05090A;
  --color-dark-background: #00121C80;
  --color-line: #1cdecd80;
  --color-line-secondary: #CADEFF;
  --color-corners: #b5f8f1;
  --color-border-hover: #C9FAFF;
  --font-size: 12px;
  --line-height: 1.5;
  --corners:
    linear-gradient(var(--color-corners), var(--color-corners)) left top,
    linear-gradient(var(--color-corners), var(--color-corners)) left top,
    linear-gradient(var(--color-corners), var(--color-corners)) right top,
    linear-gradient(var(--color-corners), var(--color-corners)) right top,
    linear-gradient(var(--color-corners), var(--color-corners)) left bottom,
    linear-gradient(var(--color-corners), var(--color-corners)) left bottom,
    linear-gradient(var(--color-corners), var(--color-corners)) right bottom,
    linear-gradient(var(--color-corners), var(--color-corners)) right bottom;
  /* 需要带上👇 且必须写在样式最前面 */
  /* background-repeat: no-repeat;
    background-size: 3px 1px, 1px 3px; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  /* user-select: none; */
  /* 禁止用户鼠标在页面上选中文字/图片等 */
  /* -webkit-tap-highlight-color: transparent; */
  /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
  overflow-x: hidden;
  font-size: var(--font-size);
  position: relative;
  /* background-color: rgb(40,40,40); */
  /* padding-bottom: 60px; */
}

a {
  color: var(--color-text);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
  /*高宽分别对应横竖滚动条的尺寸*/
  /* height: 1px; */
  /* background: red; */
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  /* border-radius: 10px; */
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--color-corners);
}

@import "./myElementStyle.css";